﻿<div class="modal-footer">
    <button type="button" class="btn btn-default close-button" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary save-button"><i class="fa fa-save"></i> <span>Save</span></button>
</div>
