﻿
/*****************************
    **************** 
*******************************/

.edc-loader {
    background: rgba(0,0,0,0.2) url(Images/edc_loader.gif) no-repeat center / 50px 50px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 9999;
}





/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 2px solid red !important;
    /*background-color: #fee !important;*/
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/*
    ALERT

*/


.tolk-alert {
    position: fixed;
    /*right:20px;*/
    width: 50%;
    left: 25%;
    top: 75px;
}


/*******************************
  
    Wizard Progress
*/


.stepwizardTab {
    display: none;
}

    .stepwizardTab.active {
        display: block;
    }

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}






#modal-dialog {
    right: auto;
    left: auto;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.modal-header .close {
    margin-top: -9px;
}

@media (max-width: 520px) {
    #modal-dialog {
        right: auto;
        left: 7.5%;
        width: 80%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .modal-header .close {
        margin-top: -9px;
    }
}