﻿
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.7
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year TolkDanmark.</strong> All rights
    reserved.
</footer>
