﻿
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Areas/Admin/Content/AdminLTE-2.3.7/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>



            <li class="treeview">
                <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>         
                 </a>
                
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index","User")"><i class="fa fa-circle-o"></i> Users</a></li>
                    <li><a href="@Url.Action("Index","Interpreter")"><i class="fa fa-circle-o"></i> Tolks</a></li>

                     <li><a href="@Url.Action("Index","Language")"><i class="fa fa-circle-o"></i> Languages</a></li>
                    <li><a href="#" onclick="BookingModal();"><i class="fa fa-circle-o"></i> Opret ny ordre</a></li>
                    <li><a href="@Url.Action("Index","Language")"><i class="fa fa-circle-o"></i> Languages</a></li>
                    <li><a href="@Url.Action("TolkReport", "Interpreter")"><i class="fa fa-circle-o"></i> Ordrer</a></li>
                    <li><a href="@Url.Action("Index", "Search")"><i class="fa fa-circle-o"></i> Søge</a></li>
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">

</div>
<script>
    function BookingModal() {
        $('Html').css("overflow-y", "hidden")
        $('#myModal').html("");
        $('#myModal').load('../Booking/BookingModal?role=Admin');
        $('#myModal').show();
    }
     

    
</script>
