﻿@model BrainyBoilerplate.Models.Students.StudentCreateModel

<form name="StudentForm" role="form" novalidate class="form-validation">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="partialFormLabel">
            Add/Edit Student
        </h4>
    </div>

    <div class="modal-body">


        @*@Html.HiddenFor(model => Model.Id)*@

        <div class="form-group">
            <label for="Name">Name</label>

            @Html.TextBoxFor(model => Model.Name, new { @class = "form-control", placeholder = "Enter Name", required = "required" })

            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            @Html.TextAreaFor(model => Model.Address, new { @class = "form-control", placeholder = "Enter Address", rows = "5" })

        </div>




    </div>

</form>

@Html.Partial("~/Areas/Admin/Views/Shared/Modal/_ModalSaveAndCloseFooter.cshtml")
