﻿
@{

    ViewBag.Title = "Students";
}

<div class="box box-primary">
    <div class="box-header with-border">

        <div class="row">
            <div class="col-md-6">

                <h3 class="box-title">All Sudents</h3>

            </div>

            <div class="col-md-6 pul">
                <div class="btn-group pull-right">
                    <button id="NewButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> New Student</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">



        <table id="myTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:10%;">Id</th>
                    <th>Name</th>
                    <th style="width:35px;"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>


    </div>
    <!-- /.box-body -->

    <div class="box-footer">

    </div>

</div>

<div class="modal fade" id="changePriorityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="partialFormLabel"></h4>
            </div>
            
            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnSavePriority" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>

        </div>

    </div>

</div>

@section Scripts{

    @*@Html.IncludeScript("~/Areas/Mpa/Views/Incident/_CreateOrEditModal.js")*@

    <script src="/Areas/Admin/Views/Student/Index.js"></script>
    
}
