﻿
@{
    ViewBag.Title = "List";
}

<h2>List</h2>


<div id="divContainer">





</div>
<div class="listView_paginate" id="example2_paginate">
    <ul class="pagination">
        <li class="paginate_button previous disabled" id="example2_previous"><a tabindex="0" aria-controls="example2" href="#" data-dt-idx="0">Previous</a></li>
        <li class="active"><a href="#" data-idx="1">1</a></li>
        <li><a href="#" data-idx="2">2</a></li>
        <li><a href="#" data-idx="3">3</a></li>
        @*<li class="paginate_button "><a tabindex="0" aria-controls="example2" href="#" data-dt-idx="2">2</a></li>
        <li class="paginate_button "><a tabindex="0" aria-controls="example2" href="#" data-dt-idx="3">3</a></li>
        <li class="paginate_button "><a tabindex="0" aria-controls="example2" href="#" data-dt-idx="4">4</a></li>
        <li class="paginate_button "><a tabindex="0" aria-controls="example2" href="#" data-dt-idx="5">5</a></li>
        <li class="paginate_button "><a tabindex="0" aria-controls="example2" href="#" data-dt-idx="6">6</a></li>*@
        <li class="paginate_button next" id="example2_next"><a tabindex="0" aria-controls="example2" href="#" data-dt-idx="7">Next</a></li>
    </ul>
</div>




@section header{

    <link href="~/Areas/Admin/Content/BrainyListView/brainy.listview.css" rel="stylesheet" />
}

@section scripts{

    <script src="~/Areas/Admin/Content/BrainyListView/brainy.listview.js"></script>


    <script type="text/javascript">


        $(function () {

            $("#divContainer").listview({

                value: 20,
                "ajax": {
                    "url": '@Url.Action("LoadAllListData", "Student")',
                    "type": "POST",
                    "datatype": "json",
                    "data": function (d) {


                    }

                },
                "render": function (full) {



                    return "<div> "
                                    + full.Name +
                            "</div>"
                }

            });

        });

    </script>

}
