﻿
#brainy_listview_Loading_wrapper {
    position: relative;
    background-color: #EEE;
    width: 100%;
    height: 50px;
    font-size: 14px;
}
#brainy_listview_Loading_content {
    position: absolute;
    top: 50%;
    left: 50%;
    /*width: 80px;
    height: 80px;
    margin-top: -40px;*/
    margin-left: -40px;
    background-color: #DDD;
}




div.listView_paginate {
	margin: 0;
	white-space: nowrap;
	text-align: right;
}

div.listView_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
}

